[flake8]
select = B,B9,BLK,C,D,DAR,E,F,I,W
ignore = E203,E501, W503
max-length = 90
max-complexity = 10
import-oder-style = google
application-import-names=nts,test
strictness=short
docstring_style=sphinx
